@import "tailwindcss";

@theme {
  --color-primary: #f6d425;
  --color-primary-hover: #d9b81e;
  --color-secondary: #0d0b3d;
  --color-text-muted: #6b7280;

  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}
